version: '3.8'

services:
  app:
    image: ghcr.io/pedrodarma/broker-games:main
    container_name: broker-games
    environment:
      - NODE_ENV=production
      - PREDICTION_API_URL=${PREDICTION_API_URL:-http://games-ai:8050}
    restart: unless-stopped # options: always, unless-stopped, on-failure
    ports:
      - '8070:8070' # Expose port 8070 on the host
    networks:
      default_bridge:
        ipv4_address: 172.250.0.10

networks:
  default_bridge:
    external: true
    name: games-network # Use the default bridge network driver
